.admin {

  .footer {
    p {
      text-align: right;
      opacity: .6;
      font-weight: 600;
      font-size: 0.875rem;
    }
  }

  .login-wrapper {
    width: 100vw;
    margin: 10rem 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .login-box {
      h4 {
        margin-bottom: .5rem;
      }

      .input {
        margin-bottom: 1rem;
      }
    }
  }
}