.display {
  max-width: 580px;
  margin: 0 auto;

  .header {
    position: fixed;
    top: 0;
    background: var( --semi-color-bg-3);
    border-bottom: 1px solid var( --semi-color-border);
    width: 100vw;
    height: 3rem;
    line-height: 3rem;
    z-index: 999;
    max-width: 580px;
  }

  .content {
    margin-top: 3rem;

    .index {
      .loading {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
        top: 0;
      }
    }
  }

  .footer {
    margin: 3rem 0.5rem 0.5rem;

    p {
      text-align: right;
      opacity: .6;
      font-weight: 600;
      font-size: 0.875rem;
    }
  }
}